.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-top: 24px;
}
.skills-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  padding: 24px;
  margin: 24px;
  background: #e2e8f0;
  box-shadow: 7px 7px 0px #94a3b8;
}
.skills-skill__icon {
  font-size: 3.2em;
  color: #334155;
}
.skills-skill__icon--alt {
  font-size: 2.7em;
}
.skills-skill__text {
  text-align: center;
  margin-top: 12px;
  color: #6b7280;
}
@media screen and (max-width: 600px) {
  .skills-skill {
    width: 100px;
    height: 100px;
  }
  .skills-skill__icon {
    font-size: 2.7em;
  }
  .skills-skill__icon--alt {
    font-size: 2.5em;
  }
}
